body{

background:#111;
color:white;
font-family:Arial;
text-align:center;

}

button{

padding:10px 20px;
font-size:18px;
margin:10px;
border-radius:5px;
border:none;
cursor:pointer;

}

.buttons{

margin:20px;

}

.cam{

margin:20px;

}

#video{

border:3px solid cyan;
border-radius:10px;

}

.bar{

width:300px;
height:10px;
background:gray;
margin:auto;
border-radius:10px;

}

#progress{

height:10px;
width:0%;
background:lime;
border-radius:10px;

}